﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

#tblSearch
{
    border : 1px solid #C0C0C0;    
}

#tblSearch tr td, #tblMaster tr
{
    padding : 10px;    
}

.webGrid 
{ 
    padding:10px;
    margin: 4px; 
    border-collapse: collapse; 
    width: 300px;  
    background-color:#B4CFC3;
}
    .header 
    { 
        background-color: #C1D4E6; 
        font-weight: bold; 
        color: #FFF; 
        text-align: center;
    }
    .webGrid th, .webGrid td 
    { 
        border: 1px solid #C0C0C0; 
        padding: 5px; 
        text-align: center;
    }
    .alt 
    { 
        background-color: #E4E9F5; 
        color: #000; 
    }
    .gridHead a:hover 
    {
        text-decoration:underline;
    }
    .description 
    { 
        width:auto;
    }
    .select
    {
        background-color: #71857C
    }