﻿@model MvcApplication5.Models.FizzBuzzModel

@{
    var grid = new WebGrid(rowsPerPage: Model.ObjPager.PageSize, canPage: false);
    grid.Bind(source: Model.ResultList, rowCount: Model.Number, autoSortAndPage: false);
}

<script type="text/javascript">
    $(document).ready(function () {
        if ('@Model.ObjPager.PageNo' == 1)
        {
            $('#previousPage').attr('disabled', true);
        }

        if ('@Model.ObjPager.PageNo' == '@Model.ObjPager.TotalPages')
        {
            $('#nextPage').attr('disabled', true);
        }
    });

    function PreviousPageClick() {
        var pageNo = parseInt('@Model.ObjPager.PageNo');
        $.ajax({
            type: "GET",
            url: '@Url.Action("SearchResult")',
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                data: { pageNo: parseInt(pageNo - 1), number: parseInt('@Model.Number') },
                dataType: "html",
                success: function (result) {
                    $('#divResultList').html(result);
                },
                error: function () {
                    alert('System error occured. Please contact to helpdesk.')
                }
            });
        }

        function NextPageClick() {
            var pageNo = parseInt('@Model.ObjPager.PageNo');
            $.ajax({
                type: "GET",
                url: '@Url.Action("SearchResult")',
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                data: { pageNo: parseInt(pageNo + 1), number: parseInt('@Model.Number') },
                dataType: "html",
                success: function (result) {
                    $('#divResultList').html(result);
                },
                error: function () {
                    alert('System error occured. Please contact to helpdesk.')
                }
            });
        }

    $('.webGrid td').each(function () {
        if ($(this).text() == "Fizz" || $(this).text() == "Wizz")
        {
            $(this).css("color", "blue");
        }
        else if ($(this).text() == "Buzz" || $(this).text() == "Wuzz") {
            $(this).css("color", "green");
        }
    });
    
</script>

<div id="grid">
@grid.GetHtml(
    tableStyle: "webGrid",
    headerStyle: "header",
    alternatingRowStyle: "alt",
    selectedRowStyle: "select",
    mode: WebGridPagerModes.All,
    columns: grid.Columns(
    grid.Column("Number", "Number", canSort:false),
    grid.Column("FizzBizz", "FizzBizz", canSort:false)
    )
)
</div> 
<table>
    <tr>
        <td width="10%" align="right">
            <input type="button" id="previousPage" onclick="PreviousPageClick()" value="&lt"/>
        </td>
        <td align="center" width ="20%">
            <div>Page @Model.ObjPager.PageNo of @Model.ObjPager.TotalPages</div>
        </td>
        <td width="10%" align="left">
            <input type="button" id="nextPage" onclick="NextPageClick()" value="&gt"/>
        </td>
    </tr>
</table>